@media (max-width: 767px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }

    .text {
        margin: 32px 0;
        font-size: 14px;
        line-height: 22px;
        text-align: center;
        width: 343px;
    }

    .top {
        height: 735px;
        display: flex;
        flex-direction: column;
        align-items: center;
        &__heading {
            font-size: 32px;
            line-height: 39px;
            text-align: center;
        }
    }


    .game {
        flex-direction: column;
        align-items: center;
        &__box {
            padding: 236px 234px 32px 16px;
    }
    }

    .season {
        gap: 77px;
        flex-direction: column;
        align-items: center;
        padding-top: 51px;
        padding-bottom: 51px;
        &__info {
            align-items: center;
        }
        &__title {
            font-weight: 700;
            font-size: 32px;
        }
        &__img{
            width: 344px;
        }
    }
}
