@media (max-width: 767px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }

    .top {
        height: 735px;
        display: flex;
        flex-direction: column;
        align-items: center;
        &__heading {
            font-size: 32px;
            line-height: 39px;
            text-align: center;
        }
        &__text {
            margin: 32px 0;
            font-size: 14px;
            line-height: 22px;
            text-align: center;
        }
    }
}
